Django==5.1.7
asgiref==3.8.1
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
--only-binary :all: Pillow==10.2.0
daphne==4.2.0
channels==4.2.2
redis==6.1.0
channels-redis==4.2.1
--only-binary :all: mysqlclient==2.2.4
